.row {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.wrapper.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* MEDIA QUERY Smartphone */
@media all and (max-width: 767px) {
  .row {
    margin-top: 30px;
    padding: 20px;
  }

  /* Blocco Lezioni */
  #lezioni .row [class*="col-"] {
    margin-top: 30px;
  }

  /* Blocco Steps */
  #steps .row [class*="col-"] {
    margin-top: 30px;
  }

  /* Blocco Perchè */
  #why .row [class*="col-"] {
    margin-top: 30px;
  }

  hr {
    margin-top: 20px;
  }

  img {
    height: 100px;
  }

}
/* FINE MEDIA QUERY Smartphone */

/* MEDIA QUERY TABLET */
@media all and (min-width: 768px) and (max-width: 991px) {
  .row {
    margin-top: 50px;
    padding: 20px;
  }

  /* Blocco Lezioni */
  #lezioni .row [class*="col-"] {
  margin-top: 30px;
  }

  /* Blocco Steps */
  #steps .row [class*="col-"] {
    margin-top: 30px;
  }

  /* Blocco Perchè */
  #why .row [class*="col-"] {
    margin-top: 30px;
  }

  #why .row img {
    padding: 15px;
  }

  hr {
    margin-top: 20px;
  }

  img {
    height: 100px;
}

}
/* FINE MEDIA QUERY TABLET */